.app{
  padding: 0;
  margin: 0;
 box-sizing: border-box;
 background-color: yellow;
 width: 400px;
 height: 400px;
 text-align: center;
}
button{
  background-color: black;
  color: white;
}
li{
  width: 100%;
  height: 30px;
  border:1px solid black;
  background-color: green;

}